html,
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 46px;
  margin: 20px auto;
  /*To avoid overlapping navbar */
  padding-top: 1em;
}
h2 {
  margin: 20px auto;
  font-size: 26px;
}
p {
  font-size: 22px;
  padding-bottom: 18px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
#logo {
  float: left;
  display: inline-block;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
  box-sizing: border-box;
}
#navbar {
  display: block;
  padding: 14px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  background-color: white;
}
a {
  text-decoration: none;
  padding: 0 30px 10px 30px;
  color: #313332;
}
#navbar a:hover {
  border-bottom: 15px solid #ff4242;
}

#about-section,
#team-section,
#contact-section {
  display: block;
  margin-top: -3em;
  padding-top: 3em;
}

#team-section {
  display: grid;
  grid-template-columns: 50% 50%;
}

#team-section img {
  width: 100%;
}

#message {
  width: 50%;
  height: 16em;
}

.form-inputs {
  width: 30%;
  height: 2em;
  margin: 0.2% 0 1% 0;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #b0b0b0;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #4caf50;
  box-shadow: 0 0 10px #4caf50;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.submit-button {
  margin: 0.6em auto;
  background-color: #4caf50;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.submit-button:hover {
  outline: none !important;
  border: 1px solid #4caf50;
  box-shadow: 0 0 10px #4caf50;
}

footer {
  padding-top: 2em;
  padding-bottom: 1em;
}

@media only screen and (max-width: 500px) {
  #team-section {
    grid-template-columns: 100%;
  }
}
